*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #353535;
    height: 100vh;
}

header{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#titulo{
    color: white;
    font-size: 2.5rem;
    font-family: "Megrim";
    font-weight: 400;
}

#divisor{
    background-color: white;
    width: 20rem;
    height: 2px;
    margin: 0.5rem;
}

#morse{
    color: white;
    font-size: 1.3rem;
}

main{
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
}

.principal{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#img{
    height: 10rem;
}

#historia{
    color: white;
    width: 25rem;
    font-family: "Cinzel";
    font-size: 1.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.lista{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 5rem;
}

.criptografias{
    color: white;
    font-family: "Megrim";
    text-decoration: none;
    font-size: 2rem;
}

.seta{
    height: 2.5rem;
}